env: local
paths:
  run_name: test
outcomes_name: "TEST_OUTCOME"
features_dir: ../outputs/data_icd10
loader:
  data_dir: ../data/formatted/synthea500_icd10 
  concepts: [
    diagnose
  ]
  batch_size: 50
  chunksize: 300
outcomes:
  TEST_OUTCOME: 
    type: [CONCEPT]
    match: [['J329', 'DN186']]
    exclude: ['DT7432X']
    match_how: contains
    case_sensitive: true
  TEST_CENSOR:
    type: [CONCEPT]
    match: [['Dj019']]
    match_how: startswith
    case_sensitive: false
    