defaults:
  - metrics: classification
  - optimizer: defaults
  - paths: defaults
  - trainer_args: defaults

  - override hydra/hydra_logging: disabled  
  - override hydra/job_logging: disabled  
  - _self_
  
hydra:  
  output_subdir: null
  run:  
    dir: .

outcome: 
  type: DEATH
  n_hours: 12
  censor_type: HOSPITAL_ADMISSION

trainer_args:
  sampler: null
  pos_weight: null
  epochs: 10
