name: Synthetic test run
on: [push, pull_request]
jobs:
  Synthea-test-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install dependencies
        run: 
          pip install -r requirements.txt
      - name: Run test_run.sh
        run: bash test_run.sh